



.caixa-lista-produtos  {
    width: 940px;
    margin: 0 auto;
}

.lista-produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    margin: 0 1.5%;
}

.card-produto {
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.card-produto:hover {
    border-color: #c78c19;
}

.card-produto:active {
    border-color: #088c19;
}

.card-produto:hover h2 {
    font-size: 34px;
}

.card-produto-titulo {
    font-size: 30px;
    font-weight: bold;
}

.card-produto-descricao {
    font-size: 18px;
}

.card-produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .caixa-lista-produtos  {
        width: auto;
    }
    
    .caixa-lista-produtos {
        padding: 3em 0;
    }

    .lista-produtos {
        padding: 0 15px 10px 0;
    }

    .lista-produtos li {
        width: calc(50% - 18px);
        padding: 10px 0 0 15px;
        margin: auto;
    }

    .card-produto-imagem img {
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .caixa-lista-produtos  {
        width: auto;
    }

    .lista-produtos li {
        display: list-item;
        width: auto;
        padding: 10px 5px;
    }

    .lista-produtos li:first-child {
        padding-top: 3em;
    }

    .card-produto-imagem img {
        width: auto;
    }
}